* {
    margin: 0;
}

a {
    text-decoration: none; /* removes underline to links */
    color: rgb(255, 255, 255);
  }

.navbar {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: 'Gill Sans'; 
    padding: 1.5%;
    color: aliceblue;
    background-color: brown;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-family: 'Gill Sans'; 
    padding: 1%;
    color: aliceblue;
    background-color: brown;
}

.Top_ti {
    margin: 2%;
}

.bokker {
    display: flex;
    width: 200px;
    height: 400px;
    gap: 30%;
    margin-top: 10px;
}

.bestill  {
    display: flex;
    position: absolute;
    gap: 100px;
}

.Adminboard {
    margin: 2%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_button {
    color: black;
}