<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen offcial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Vellkommen til Torgersen bibliotek</h1>
        {% if navn %}
        &nbsp; {{ navn }}!
        {% else %}
        {% endif %}
    </div>
    <div class="header">
        <a href="{{ url_for('index') }}"><p>Forsiden</p></a>
            {% if navn %}
            <a href="{{ url_for('logout') }}">log ut!</a>
            {% else %}
            <a href="{{ url_for('register') }}"><p>Login/Signup</p></a>
            {% endif %}
        <a href="{{ url_for('bestiling') }}"><p>Bestilinger</p></a>
        <a href="{{ url_for('arbeid') }}"><p>Arbeid</p></a>
        <a href="{{ url_for('om_oss') }}"><p>om oss</p></a>
        {% if admin %}
        <a href="{{ url_for('Admin') }}"><p>Admin</p></a>
        {% else %}
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
        <!-- Her kan en bruker skrive inn arbeid de ønsker -->
    <div class="valg">
        <button><a class="submit_button" href="{{ url_for('arbeid') }}">Skriv en arbeid</a></button>
        <button><a class="submit_button" href="{{ url_for('searbeid') }}">Se arbeid</a></button>
    </div>
    <div class="login_and_register_main">
        <h1 class="titele_login">Her kan du oppgi et arbeid som du ønsker, svar på skjema under</h1>
        <form action="{{ url_for('arbeid') }}" method="POST" class="login_and_register_form">
            <label for="navn">Full navn og etternavn:</label>
            <input class="height" type="text" id="navn" name="navn" required><br>
            <label for="passord">Passord:</label>
            <input class="height" type="password" id="passord" name="passord" required><br>
            <label for="message">arbeid (380 tegn max):</label>
            <input class="height" type="text" id="message" name="message" required><br>
            <button class="submit_button" type="submit">send inn</button>
        </form>
    </div>
</body>
</html>