<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen offcial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Vellkommen til Torgersen bibliotek</h1>
        <!-- if else statement for vis brukeren er logget in -->
        {% if navn %}
        &nbsp; {{ navn }}!
        {% else %}
        {% endif %}
    </div>
    <div class="header">
        <a href="{{ url_for('index') }}"><p>Forsiden</p></a>
            {% if navn %}
            <a href="{{ url_for('logout') }}">log ut!</a>
            {% else %}
            <a href="{{ url_for('register') }}"><p>Login/Signup</p></a>
            {% endif %}
        <a href="{{ url_for('bestiling') }}"><p>Bestilinger</p></a>
        <a href="{{ url_for('arbeid') }}"><p>Arbeid</p></a>
        <a href="{{ url_for('om_oss') }}"><p>om oss</p></a>
        {% if admin %}
        <!-- vis du har admin for du tilgang til denne siden -->
        <a href="{{ url_for('Admin') }}"><p>Admin</p></a>
        {% else %}
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <div class="content">   
        <div class="Top_ti">
            <h1 class="toptekst">Top 5 populære bøker!</h1>
            <div class="bokker">
                <img src="{{ url_for('static', filename='images/Lokalhistoien.png') }}" alt="book en">
                <img src="{{ url_for('static', filename='images/bamse.png') }}" alt="book to">
                <img src="{{ url_for('static', filename='images/hjemme.png') }}" alt="book tre">
                <img src="{{ url_for('static', filename='images/ferie.png') }}" alt="book fire">
                <img src="{{ url_for('static', filename='images/hytteliv2015.png') }}" alt="book fem">
            </div>
        </div>
    </div>
</body>
</html>