<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen offcial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Vellkommen til Torgersen bibliotek</h1>
        {% if navn %}
        &nbsp; {{ navn }}!
        {% else %}
        {% endif %}
    </div>
    <div class="header">
        <a href="{{ url_for('index') }}"><p>Forsiden</p></a>
            {% if navn %}
            <a href="{{ url_for('logout') }}">log ut!</a>
            {% else %}
            <a href="{{ url_for('register') }}"><p>Login/Signup</p></a>
            {% endif %}
        <a href="{{ url_for('bestiling') }}"><p>Bestilinger</p></a>
        <a href="{{ url_for('tabel') }}"><p>Annmeldelser</p></a>
        <a href="{{ url_for('om_oss') }}"><p>om oss</p></a>
        {% if admin %}
        <a href="{{ url_for('Admin') }}"><p>Admin</p></a>
        {% else %}
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
        <!-- Form som sammler data til backend vis det er riktig -->
    <div class="login_and_register_main">
        <h1>Registerer deg her for å bestille bøkker</h1>
        <form action="{{ url_for('register') }}" method="POST" class="login_and_register_form">
            <label for="navn">Full navn og etternavn:</label>
            <input class="height" type="text" id="navn" name="navn" required><br>
            <label for="passord">Passord:</label>
            <input class="height" type="password" id="passord" name="passord" required><br>
            <label for="bekreft_passord">bekreft Passord:</label>
            <input class="height" type="password" id="bekreft_passord" name="bekreft_passord" required><br>
            <label for="epost">Epost:</label>
            <input class="height" type="email" id="epost" name="epost" required><br>
            <button class="submit_button" type="submit">Registerer nå!</button>
            <!-- en kort script som sammenligner passord med bekreft passord -->
            <script>
                const form = document.querySelector("form");
                const password = document.getElementById("passord");
                const confirmPassword = document.getElementById("bekreft_passord");
        
                form.addEventListener("submit", (e) => {
                    if (password.value !== confirmPassword.value) {
                        e.preventDefault();
                        alert("Passord sammenligner ikke, vennligst prøv igjen");
                    }
                });
            </script>
        </form>
        <button><a class="login_button" href="{{ url_for('login') }}">allerede en medlem?</a></button>
    </div>
</body>
</html>