<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torgersen offcial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Vellkommen til Torgersen bibliotek</h1>
        {% if navn %}
        &nbsp; {{ navn }}!
        {% else %}
        {% endif %}
    </div>
    <div class="header">
        <a href="{{ url_for('index') }}"><p>Forsiden</p></a>
            {% if navn %}
            <a href="{{ url_for('logout') }}">log ut!</a>
            {% else %}
            <a href="{{ url_for('register') }}"><p>Login/Signup</p></a>
            {% endif %}
        <a href="{{ url_for('bestiling') }}"><p>Bestilinger</p></a>
        <a href="{{ url_for('arbeid') }}"><p>Arbeid</p></a>
        <a href="{{ url_for('om_oss') }}"><p>om oss</p></a>
        {% if admin %}
        <a href="{{ url_for('Admin') }}"><p>Admin</p></a>
        {% else %}
        {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <div class="valg">
        <button><a class="submit_button" href="{{ url_for('arbeid') }}">Skriv en arbeid</a></button>
        <button><a class="submit_button" href="{{ url_for('searbeid') }}">Se arbeid</a></button>
    </div>
    <div class="main_leaderboard">
      {% for arbeid in informasjon %}
      <hr>
      <div class="Bestilingboard">
        <div class="tidnavn">
          <p>{{ arbeid[0] }}</p>
          <p>{{ arbeid[1] }}</p>
        </div>
        <p>Bestiling: <br> {{ arbeid[2] }}</p>
      </div>
      {% endfor %}
      <hr>
      <hr>
  </div>
</body>
</html>